<extend name="Base/no_side_common" />
<block name="body">
    <link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
    <div class="admin_container">
        <section id="contents" class="tab-content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>学号</th>
                    <th>用户名</th>
                    <th>班级</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="user" item="vo" >
                    <tr>
                        <th scope="row">{$vo.id}</th>
                        <td>{$vo.account}</td>
                        <td><a href="#">{$vo.name}</a></td>
                        <td><a href="#">{$vo.class_id}</a></td>
                        <td><a href="{:U('home/student/updateStudent', array('id'=>$vo[id]))}">修改</a><a href="#">删除</a></td>
                    </tr>
                </foreach>
                </tbody>
            </table>
            <div class="page"> {$_page|default=''} </div>
        </section>
    </div>
</block>
