<extend name="Base/no_side_common" />
<block name="body">
    <link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
    <div class="admin_container">
        <section id="contents" class="tab-content">
            <form class="form-horizontal" action="" method="post">
                <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                            <input type="text" class="form-control" id="id" name="id" value="{$info.id}"  style="display: none">
                            <input type="text" class="form-control" id="name" name="name" placeholder="姓名" value="{$info.name}">
                    </div>
                    </div>
                <div class="form-group">
                    <label for="account" class="col-sm-2 control-label">学号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="account" name="account" placeholder="学号" value="{$info.account}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10" id="sex">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"> 女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthday" class="col-sm-2 control-label">出生日期(插件)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="birthday" name="birthday" placeholder="Password" value="{$info.birthday}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="grade" class="col-sm-2 control-label">年级</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="grade" name="grade" placeholder="Password" value="{$info.grade}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="class_id" class="col-sm-2 control-label">班级</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="class_id" name="class_id" placeholder="Password" value="{$info.class_id}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_name" class="col-sm-2 control-label">父亲姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="f_name" name="f_name" placeholder="姓名" value="{$info.f_name}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="f_tel" class="col-sm-2 control-label">父亲电话</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="f_tel" name="f_tel" placeholder="电话" value="{$info.f_tel}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">确认</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</block>
