/**
 * weiphp公用css
 */
/* 登录头部 */
#login_body{ background:url(../images/about/img/bg.jpg) no-repeat center top; background-size:100% 100%}
.login_header{ height:68px;}
.login_header .logo{ height:60px; margin:4px 0;}
.login_header .nav_r{ float:right; margin:22px 0 0; color:#fff}
/* 介绍页面 */ 
.wrap{ width:1200px; margin:0 auto;}
.log_wrap{ width:1100px; margin:0 auto;}
.small_wrap{ width:800px; margin:0 auto;}
.top_content{ min-height:560px; width:100%; overflow:hidden}
.top_content_r{ float:left;}
.top_content_r img{ margin:20px 0 0 0; max-width:700px;}
.intro_box{ margin:60px auto;}
.intro_box .content{ padding:15px 250px;}
.intro_box h3{ text-align:center; line-height:50px; font-size:20px;}
.intro_list{ overflow:hidden; margin:0 102px;}
.intro_list li{ float:left; margin:30px 28px; text-align:center}
.intro_list li img{ display:block; line-height:40px; margin-bottom:10px;}
.intro_list_2{ overflow:hidden; margin:0 112px;}
.intro_list_2 img{ display:block; margin-bottom:10px;}
.intro_list_2 li{ margin:30px; float:left; display:inline-block; text-align:center}
.bottom{ width:100%; margin-top:50px; padding:20px 0 20px; color:#fff; background:none; text-align:center}
.foot_nav{ color:#999;}
.b_hot_line{ text-align:center; font-size:50px; padding:0 0;}
.copyright{ text-align:center; line-height:60px; font-size:12px; color:#888;}
/* 帮助文档 */
.about_wrap{ min-height:700px; box-shadow: 0 3px 5px #999; padding: 10px 8px 0 13px; margin: 60px auto 20px; background: #fff; border-radius: 5px; position: relative;}
.about_content{ margin-bottom:30px; }
.about_content h4{ font-size:18px; border-left:5px solid #090; margin-bottom:10px; padding-left:10px;}
.about_content h6{ font-size:16px; line-height:40px; padding-left:15px;}
.about_content .num{ display:inline-block; width:20px; height:20px; line-height:20px; text-align:center; border-radius:12px; border:2px solid #44b549; color:#44b549; margin-right:10px;}
.about_content img{ border:1px solid #ccc; margin:15px 0; max-width:99%;}
.about_content p{ padding:10px 0; line-height:24px;padding-left:15px;}
.error_warp{text-align: center;margin-top: 10%;}
.error_warp .error{height: 200px; background: url(../images/blank_pic.png) no-repeat center;background-size:20%; }
.error_warp p{font-size: 26px;color:#999;}
/* fixed */
.main-im { position: fixed; left: 10px; bottom: 20px; z-index: 100; width: 110px; height: 282px; }
.main-im .qq-a { display: block; width: 106px; height: 116px; font-size: 14px; color: #0484cd; text-align: center; position: relative; }
.main-im .qq-a span { bottom: 5px; position: absolute; width: 90px; left: 10px; }
.main-im .qq-hover-c { width: 70px; height: 70px; border-radius: 35px; position: absolute; left: 18px; top: 10px; overflow: hidden; z-index: 9; }
.main-im .qq-container { z-index: 99; position: absolute; width: 109px; height: 118px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom: 1px solid #dddddd; background: url(../images/about/img/float/qq-icon-bg.png) no-repeat center 8px; margin-bottom:20px; }
.main-im .img-qq { max-width: 60px; display: block; position: absolute; left: 6px; top: 3px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.main-im .im-qq:hover .img-qq { max-width: 70px; left: 1px; top: 8px; position: absolute; }
.main-im .im_main { background: #F9FAFB; border: 1px solid #dddddd; border-radius: 10px; background: #F9FAFB; }
.main-im .im_main .im-tel { color: #000000; text-align: center; width: 109px; height: 45px; padding:5px 0; border-bottom: none; }
.main-im .im_main .im-tel .tel-num { font-family: Arial; font-weight: bold; color: #e66d15; padding-top: 6px; }
.main-im .im_main .im-tel:hover { background: #fafafa; }
.main-im .close-im { position: absolute; right: 10px; top: -12px; z-index: 100; width: 24px; height: 24px; }
.main-im .close-im a { display: block; width: 24px; height: 24px; background: url(../images/about/img/float/close_im.png) no-repeat left top; }
.main-im .close-im a:hover { text-decoration: none; }
.main-im .im-title { background: #e76322; padding: 5px; }
.main-im .qrcode{ text-align:center; font-size:12px;}

/* dialog */
.layer{ background:#000; opacity:0.7; position:fixed; top:0; left:0; right:0; bottom:0; display:none}
.dialog{ position:fixed; top:50%; left:50%; width:1100px; height:660px; margin:-330px auto auto -550px; background:#fff; box-shadow: 0 0 5px #999; display:none;}
.show_dialog{  display:block; animation: pop 600ms; -moz-animation: pop 600ms; -webkit-animation: pop 600ms;}
.dialog .close{ width:40px; height:40px; position:absolute; top:0; right:0; background:#eee url(../images/about/img/close.png) no-repeat center center;}
.dialog .close:hover{ background-color:#ddd;}
.dialog h6{ line-height:50px; margin-top:20px; font-size:18px; text-align:center}
.function_list{ overflow:hidden; margin:20px 20px 0;}
.function_list li{ float:left; width:210px; height:275px; text-align:center; cursor:pointer}
.function_list .img_wrap{ height:155px; overflow:hidden;}
.function_list li img{ width:140px; margin-bottom:10px; transition:all 500ms;-moz-transition:all 500ms;-webkit-transition:all 500ms;}
.function_list li p.title{ font-size:16px; background:#eeeeee; padding:10px; margin:0 15px;}
.function_list li p{ padding:10px 12px 0; font-size:13px; color:#888;}
{ transform:translateY(-140px);}
.function_list li .qrcode{transition:all 500ms;-moz-transition:all 500ms;-webkit-transition:all 500ms;}
.function_list li:hover .qrcode,.function_list li:hover .f_pic{ transform:translateY(-140px);-moz-transform:translateY(-140px);-webkit-transform:translateY(-140px);}
.function_list .qrcode img{ width:100px; margin:0;}
.function_list .qrcode p{ padding:0;}
.function_list .qrcode_img{ width:100px; height:100px; margin:5px auto;}
@keyframes pop
{
	0% {transform:scale(0,0);}
	60% {transform:scale(1.05,1.05);}
	80% {transform:scale(.95,0.95);}
	100% {transform:scale(1,1);}
}
@-moz-keyframes pop
{
	0% {transform:scale(0,0);}
	60% {transform:scale(1.05,1.05);}
	80% {transform:scale(.95,0.95);}
	100% {transform:scale(1,1);}
}
@-webkit-keyframes pop
{
	0% {transform:scale(0,0);}
	60% {transform:scale(1.05,1.05);}
	80% {transform:scale(.95,0.95);}
	100% {transform:scale(1,1);}
} 
/* 登录 */
.login_box{width:300px; float:right; margin:80px 0 0; color:#666; padding:10px 30px 30px; background:#fff;}
.login_box h6{ line-height:50px; font-size:18px; text-align:center}
.login_box #qrCode{ text-align:center;}
.login_box .o_p{ text-align:center}
.form_title{text-align:center; color:#ccc; font-size:16px; display:none}
.login_box .form_body{ margin-top:10px;}
.login_box .control-label{ display:none}
.login_box .controls{ margin:10px auto 0; display:block; width:308px; position:relative;}
.login_box input[type=text],.login_box input[type=password]{ padding-left:35px; width:262px;}
.login_box .controls .fa{ position:absolute; top:10px; left:10px; font-size:20px; color:#aaa;}
.login_box #checkbox{ vertical-align:-2px; margin-right:5px;}
.list_img {width:50px;}
.login_box .verifyimg{ margin-top:10px; width:100%}
.login_box .btn{ width:100%;}
.login_box .reloadverify_a{ position:absolute; top:10px; right:10px;}
/* 注册 */
.reg_box{ margin:20px auto; overflow:hidden; zoom:1; background:#fff;}
.reg_box .login-form{ width:700px; padding:30px; border-right:1px solid #ddd;}
.reg_r{ margin:100px 150px 0 0;}
.reg_box input{ width:256px;}
.reg_box .control-group{ overflow:hidden;zoom:1; margin-top:20px;}
.reg_box .control-label{ width:90px; height:30px; float:left; text-align:left; padding-right:15px; line-height:30px; color:#444}
.reg_box .controls{ float:left;}
.reg_box #verify{ width:110px;}
.reg_box .verifyimg{ width:140px; border:1px solid #333; vertical-align:-10px;}
.reg_box .btn{ padding:10px 0; margin-top:15px; width:274px;}
.reg_box .tips{ font-size:12px; color:#888; padding-left:10px; vertical-align:4px}
.login_top_btn{ position:absolute; top:5px; right:20px;}
.login_top_btn .btn{ background-color:#aa1010; color:#fff; padding:5px 10px;margin:0 0 0 10px;}
.login_top_btn .btn:hover{ background-color:#980f0f; color:#fff}
.text-warning{ color:#F60; margin-top:5px}
.bind_step_form{}
.bind_step_form .item_wrap{ width:580px; margin:30px auto 0;}
.bind_step_form .tab-pane{ float:none;}
.bind_step_form_next_item{ text-align:center; margin:20px 0; padding:30px 0 0; border-top:1px dashed #ddd;}
/* login end */

/* 头部 */
body{ background:#e7e8eb;}
.navbar{ height:66px; background:#fff; border-bottom:1px solid #d9dadc;}
.navbar1{ height:66px; background:#fff; border-bottom:1px solid #d9dadc;}
.brand{ padding:7px 10px; display:block; float:left;}
.top_nav{ float:right;}
.top_nav a{ color:#444;}
.top_nav li.dropdown{ position:relative;}
.top_nav li.dropdown .fa{ vertical-align:3px;}
.top_nav li a:hover{ background:#ddd; color:#222}
.top_nav li.dropdown>a{ line-height:66px; height:66px; overflow:hidden; padding:0 20px;}
.top_nav li>a{line-height:66px;height:66px; overflow:hidden; padding:0 15px;}
.top_nav li.active>a{ background:#ddd}
.top_nav li>a img{ width:40px; height:40px; border:2px solid #ccc; border-radius:22px; vertical-align:-14px; margin-right:5px;}
.top_nav li.admin_nav>a{ border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;}
.top_nav li.dropdown>a:hover,.top_nav li.dropdown>a.hover{ background:#ddd;color:#222}
.top_nav li.dropdown ul{ position:absolute; width:100%; top:66px; left:0; background:#ddd;position: absolute;
color:#222;
float: none;
min-width: 100%;
padding: 0;
margin: 0;
list-style: none;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-background-clip: none;
-moz-background-clip: none;
background-clip: none;
 z-index:10000;
 border-bottom:2px solid #44b549}
.top_nav li.dropdown ul li{ float:none}
.top_nav li.dropdown ul a{ display:block; height:40px; line-height:40px; padding:0 20px;}
.top_nav li.dropdown ul a:hover{ background:#fff;}
.top_nav .dropdown-menu > li > a{ color:#222}
.top_nav .dropdown-menu > li > a:hover{ color:#333;}
.top_nav p{ line-height: 66px; padding: 0 20px;color: red}

/* 侧栏 */
.sidebar{ display:table-cell; vertical-align:top; width:199px; border-right:1px solid #e7e7eb; background:#fff;}
.sidebar .sidenav{ min-height:600px;}
.sidebar li a{ display:block;color:#444; height:40px; border-bottom:1px solid #e7e7eb; line-height:40px; padding:0 10px;}
.sidebar li a.sidenav_parent{ color:#888}
.sidebar li a:hover{ color:#6b6a89;}
.sidebar .fa{ font-size:15px; padding-right:10px;}
.sidebar .arrow{ color:#ddd; font-size:10px; padding-left:10px;}
.sidebar li .sidenav_sub a{ padding-left:35px; border:none}
.sidebar li .sidenav_sub a:hover{ background:#eee;}
.sidebar li.active a,.sidebar li.active a:hover{ color:#fff; background:#44b549; font-weight:bold}
.sidebar li .sidenav_sub li{ position:relative;}
.sidebar li .sidenav_sub li .active_arrow{ position:absolute; right:0; top:0; height:100%; width:14px; background:url(../images/arrow_left.png) center center no-repeat; display:none}
.sidebar li .sidenav_sub li.active .active_arrow{ display:none}
.sidenav_parent img{ width:20px; height:20px; margin-right:5px; vertical-align:-5px;}
/* 主栏 */
.no_side_main_body{margin:0 auto; width:1200px; min-height:600px;}
.main_body{ margin:0 auto; width:1000px; min-height:600px;}
.admin_container{ margin:36px auto; width:1200px; background:#fff; border:1px solid #d9dadc;position:relative; }
.admin_container .main_body{ display:table-cell; vertical-align:top; }
.empty_container{ padding:100px 0; text-align:center}
.empty_container p{ padding-top:100px; background:url(../images/empty_content.png) no-repeat center 0; color:#888;}
/* 微信预览 */
.has-weixinpreivew{ overflow:hidden; zoom:1}
.has-weixinpreivew form{}
.weixin-preview{ float:right; width:320px; margin-right:20px;}
.weixin-preview .preview-tips{line-height:50px; font-size:14px; text-align:center;}
.weixin-preview .weixin-box{ border-radius:10px; border:1px solid #ccc; background:#fff; padding:10px 15px; box-shadow:0 0 3px #999;}
.weixin-box img{ width:290px; height:145px; margin:10px 0 5px; background:#ddd}
.weixin-box .weixin-title{ font-size:16px; color:#222; line-height:20px; max-height:40px; overflow:hidden;}
.weixin-box .weixin-content{ font-size:14px; color:#666; line-height:20px; max-height:40px; overflow:hidden}
/* 多图文预览 */
.weixin-muti-preview{ width:320px; margin:0 auto; border:1px solid #ccc; background-color:#fff; box-shadow:0 0 2px #ddd; border-radius:10px;}
.weixin-muti-preview li{ border-bottom:1px solid #ccc; padding:10px; list-style:none; height:60px; position:relative; z-index:10;}
.weixin-muti-preview p{ height:60px; line-height:30px; padding:0 70px 0 0;overflow:hidden;}
.weixin-muti-preview img{ width:60px; height:60px;position:absolute; top:10px; right:10px;}
.weixin-muti-preview .del{ position:absolute; left:0; bottom:0; right:0; top:0; background-color:RGBA(0,0,0,.2); text-align:center; line-height:80px; z-index:1001; color:#C00; display:none}
.weixin-muti-preview li:first-child{ height:150px;}
.weixin-muti-preview li:first-child p{ position:absolute; bottom:0; left:0; right:0; z-index:1000; background-color:RGBA(0,0,0,.6); color:#fff; line-height:30px; height:30px; margin:0 10px 10px 10px; padding:0 5px; white-space:nowrap; overflow:hidden;}
.weixin-muti-preview li:first-child img{ width:300px; height:150px;}
.weixin-muti-preview li:first-child .del{ line-height:160px;}
.form-item-div{ width:320px; margin:20px auto;}
.form-item-div input{ width:300px;}
/* 顶部提示 */
.top-alert-tips{position:fixed; top:0; left:50%; margin-left:-300px; width:600px; z-index:10099; background:#1dbd03; border-bottom-left-radius:10px;border-bottom-right-radius:10px; color:#fff; height:50px; line-height:50px; white-space:nowrap; padding:0 20px;}
.alert-success{background:#1dbd03;}
.alert-error{background:#fb1d0f;}
.top-alert-tips .close{ position:absolute; top:10px; right:0px; width:30px; height:30px; line-height:30px; color:#fff; font-size:22px;}
/* 底部footer */
.footer{  padding:10px 0; clear:both; text-align:center; margin:50px 0 0 200px;}
.footer p{ color:#666;}
.footer p a{ color:#333;}
/* 会员卡 */
.card_preview{ position:relative; float:left; width:300px; height:179px; margin-right:40px; box-shadow:0 0 6px #666; border-radius:8px;}
.card_preview #cardBg{ width:100%; height:100%; position:absolute; left:0; top:0;}
.card_preview .card_num{ position:absolute; bottom:10px; right:10px; font-size:18px; text-shadow:0 1px #fff; color:#000; font-weight:bold;}
.card_preview .card_name{ position:absolute; top:75px; left:10px;right:10px; text-align:center; white-space:nowrap; z-index:100; font-size:20px; font-weight:bold;}
.card_preview .card_intro { position:absolute; left:0; top:0; padding:15px; overflow:hidden;}
.card_preview .card_intro .title{ font-size:16px;}
.card_preview #cardLogo{ position:absolute; left:0; right:10px;top:10px; z-index:100; text-align:center}
.card_preview #cardLogo img{ height:60px;}
/* 模板 */
.template_select{ float:left; width:100%;zoom:1; margin:0 0 20px;}
.template_select li{ float:left; position:relative; margin:0 25px; width:170px; height:410px; text-align:center; list-style:none; cursor:pointer}
.template_select li .phone{ width:170px; height:353px; position:relative; background:url(../images/m/iphone0.png) no-repeat;}
.template_select li .phone img{ position:absolute; width:144px; height:240px; top:55px;left:13.5px;}
.template_select li.selected .phone,.template_select li.hover .phone{ background:url(../images/m/iphone1.png) no-repeat;}
.template_item p{ padding-top:10px;}
.template_item input{ display:inline; vertical-align:middle; margin:0 5px 0 0 ;}
.template_item label{ display:inline;}
.template_item .use_tips{ position:absolute; top:50px; left:170px; background:#333; padding:10px; color:#fff; width:150px; border-radius:10px; text-align:left; display:none; z-index:1000;}
/* 必须项 */
.need_flag{ color: #F00;
vertical-align: -6px;
font-size: 20px;}
/*配置步骤 */
.setting_step{ height:44px; border:1px solid #eee; margin:30px 0; background:#fff}
.setting_step .step{ background:#ffffff url(../images/step.png) no-repeat right 0; float:left; text-align:center; line-height:44px; color:#666; width:160px; height:44px;}
.app_setting .step{ width:399px;}
.content_step .step{ width:239px;}
.content_step_2 .step{ width:479px;}
.content_step{margin:0 20px; border:1px solid #ddd;}
.app_setting .step:last-child{ background:#fff}
.setting_step .step_cur_1{ background:#363434 url(../images/step.png) no-repeat right -88px; float:left; color:#fff}
.app_setting .step:last-child.step_cur_1{ background:#363434}
.setting_step .step_cur{ background:#fff url(../images/step.png) no-repeat right -44px; float:left;color:#666}

.help_content{ margin:20px 0; background:#fff; padding:15px;}
.help_content h3{ line-height:50px;}
.help_content img{ margin:10px 0; box-shadow:0 2px 3px #999}

/* YaoTV */
.main_summay{ width:100%; min-height:200px; border:1px solid #eee; background:#fefefe;}
.table_date_filter .input-small{ height:28px; border:1px solid #ddd; width:100px;}
.table_date_filter .time{height:34px; margin:0; float:left; line-height:16px; padding:6px 3px; border:1px solid #ddd; width:120px;}
.table_date_filter  .se_span{ line-height:30px; padding:0 10px}
.add_program_tr td{ background-color:#fef4be}
.tools .uploadify{ display:inline-block; vertical-align:middle;}
.tools .uploadify .uploadify-button{ text-indent:0; background:#44b549; border-radius:3px;}
.tools .uploadify-queue{ display:none}
.timeline_table{ border-top:1px solid #ddd; margin:10px 0 0; padding:15px 0 10px; width:80%}
.timeline_table th,.timeline_table td{ text-align:left; padding:6px;}
.timeline_table td{ ;}
.timeline_table input[type="button"]{ width:80%; padding:6px 6px 6px 40px; background:#eee; border:1px solid #eee; cursor:pointer; text-align:left}
.timeline_table input[type="button"].timeline{ background:#eee url(../images/m/icon_time_gray.png) no-repeat 6px center; background-size:25px 25px;}
.timeline_table .yaopage{width:80%; display:inline-block; overflow:hidden;zoom:1; vertical-align:middle; padding:6px 6px 6px 40px; border:1px solid #eee; text-align:left; background:#eee url(../images/m/icon_web_gray.png) no-repeat 6px center;background-size:25px 25px;}
.timeline_table .yaopage a{ color:#069; padding:0 10px;}
.timeline_table .yaopage .preview{ display:none}
.timeline_table .delete_icon{ display:inline-block; width:40px; height:40px; vertical-align:middle; background:url(../images/m/icon_trash.png) no-repeat center center; background-size:22px 22px;}
.dialog_slider_wrap{ padding:30px 30px 110px;}
.dialog_slider_tips{ padding:20px 30px;}
.yao_page_list{ margin:0 15px; background:#f3f3f3; height:300px; overflow-y:scroll; overflow-x:hidden;}
.yao_page_list li{ border-bottom:1px solid #ddd; padding:10px; overflow:hidden; zoom:1;  cursor:pointer}
.yao_page_list li:hover{ background:#efe2da}
.yao_page_list li .title{ width:33%; float:left;word-break:break-all}
.yao_page_list li .link{ width:60%; float:left; word-break:break-all}
.yao_page_list li .check{ width:7%; float:left;}
.yao_page_list li .check img{ vertical-align:middle; display:none}
.yao_page_list li.checked .check img{ display:inline}
.yao_page_list li.checked { background:#ddd;}
.yao_page_preview{ overflow:hidden; zoom:1;}
.yao_page_preview .left{ margin:15px; width:322px; float:left}
.yao_page_preview .wx_head{ height:43px; background:url(../images/weixin-frame__head.png) no-repeat; background-size:322px 43px;}
.yao_page_preview .right{ width:348px; height:314px; margin:80px 40px 0; background:url(../images/qr-code-bg.png) no-repeat; padding:20px 0; text-align:center; float:right;}
.yao_page_preview .right canvas{ width:240px; height:240px;}
.yao_page_preview iframe{ border:1px solid #ddd;}

/* 微信页面编辑 */
.wx-container{ width:320px; overflow:hidden; height:600px; overflow:auto; margin:0 auto; position:relative}
.wx-header{ height:30px; width:320px; text-align:center; padding-top:32px; color:#fff; font-size:16px; margin:0 auto; background:url(../images/wx-frame-2.png) no-repeat; background-size:100% auto}
.frame_layer{ position:absolute; top:0; right:0; width:100%; height:100%; z-index:1000; opacity:0;}

/* 颜色选择 */
.colorPicker{ cursor:pointer}
.simpleColorBox{ position:absolute; top:0; right:0; border:1px solid #ddd; z-index:10000; width:205px; overflow:hidden; zoom:1; padding:1px 1px 0 ; background:#fff}
.simpleColorBox span{ display:block; float:left; width:40px; height:40px; margin:0 0 1px 1px; cursor:pointer}
/* 门店选址 */
.chooseShopDialog{ padding:30px; height:400px;overflow:auto; position:relative}
.chooseShopDialog ul{ overflow:auto;zoom:1; border-top:1px solid #ddd;max-height:350px;}
.chooseShopDialog li{ height:20px; line-height:20px; border:1px solid #ddd; border-top:none; padding:10px;}
.chooseShopDialog li input{ float:left; margin:0 10px; vertical-align:middle}
.chooseShopDialog li .name{ float:left}
.chooseShopDialog li .address{ float:right; color:#888}
.chooseShopDialog  .m15{ position:absolute;right:0; left:0; bottom:20px; text-align:center}
/* 微商城 */
.shop_list{ overflow:hidden;}
.shop_list li{ float:left; margin:0 20px 20px 0;}
.shop_list li .s_i{ display:block; width:160px; height:110px; border:2px solid #ccc; position:relative; padding:10px 10px 10px 100px; overflow:hidden;}
.shop_list li .s_i img{ position:absolute; width:80px; height:80px; left:10px; top:10px; border-radius:40px;}
.shop_list li .s_i span{ display:block;}
.shop_list li .name{ font-weight:bold; font-size:16px; padding-bottom:5px;}
.shop_list li .s_i:hover,.shop_list li .s_add:hover{ border-color:#C00}
.shop_list li .s_add{ border:2px dashed #ccc; width:250px; height:130px; line-height:130px; text-align:center; font-size:20px; display:block;}
.shop_list li .s_i a{ display:inline; margin-right:10px; margin-top:10px; padding:3px 5px;}
.shop_list li .s_action{ padding-top:10px;}
.shop_base{ min-height:80px; margin-bottom:20px; position:relative;}
.shop_base img{ width:80px; height:80px; float:left;}
.shop_base .info{ padding-left:90px; padding-right:200px; color:#888}
.shop_base .name{ font-size:16px; font-weight:bold; color:#333}
.shop_summary{ padding-top:12px;}
.shop_summary span{ margin-right:20px;}
.shop_summary span em{ font-size:16px; font-style:normal; color:#09C}
.shop_pv{ min-height:200px; background:#eee; margin:15px 0;}
.shop_base .right_btn{ position:absolute; top:50px; right:0;}

/*贺卡选择祝福语*/
.chooseWishDialog #cateList{ padding:10px 20px;}
.chooseWishDialog #cateList a{ padding:5px 10px; border:1px solid #888; margin:0 10px 10px 0;}
.chooseWishDialog #cateList a.current{ background:#888; color:#fff}
.chooseWishDialog ul{ overflow:auto; zoom:1; max-height:330px; margin:0 20px;}
.chooseWishDialog li{ float:left; margin:10px 0; border:1px solid #ccc; width:520px;padding:10px; cursor:pointer}
.chooseWishDialog li:hover{ background:#eee;}
/* 选择模板 */
.chooseTemplateDialog #cateList{ padding:10px 20px;}
.chooseTemplateDialog #cateList a{padding:5px 10px; border:1px solid #888; margin:0 10px 10px 0;}
.chooseTemplateDialog #cateList a.current{ background:#888; color:#fff}
.chooseTemplateDialog ul{ overflow:auto; zoom:1; max-height:330px; margin:0 10px;}
.chooseTemplateDialog li{ float:left; margin:10px; border:1px solid #ddd; width:160px;padding:10px; cursor:pointer; text-align:center; font-size:12px; color:#888;}
.chooseTemplateDialog li img{ width:160px;}
.chooseTemplateDialog li:hover{ background:#eee;}
.template_div{margin:10px 0; border:1px solid #ddd; width:160px;padding:10px; cursor:pointer; text-align:center; font-size:12px; color:#888;}
.template_div img{ width:160px;}
.template_div .empty_tips{ padding:50px 0; text-align:center; color:#888;}

/* 统计页面 */
.tongji_nav{ padding:20px;}
.tongji_nav a{ padding:8px 15px; border:1px solid #44b549; margin:0 20px 0 0; background:#fff; color:#44b549; transition:all 300ms;-wenkit-transition:all 300ms;}
.tongji_nav a.cur,.tongji_nav a:hover{ background:#44b549; color:#fff}
.tongji_nav .refresh,.tongji_nav .refresh:hover{ border:none; background:#fff}
.tongji_nav .refresh img{ vertical-align:middle; margin-right:5px;}
.tongji_data_area{ border:1px solid #ddd; margin:20px; min-height:400px;}
/* 通知 */
.notice_list{ margin:20px; border:1px solid #ddd;}
.notice_list h6{  line-height:40px; padding:0 15px; font-size:14px;}
.notice_list li a{ display:block; overflow:hidden;zoom:1; color:#444; line-height:40px; padding:0 15px; border-top:1px solid #ddd;}
.notice_list li a .fr,.notice_list li a:hover .fr{ color:#888;}
.notice_list li a:hover{ color:#4097ce}
.notice_detail  h3{margin:0 100px; line-height:60px; font-size:18px; text-align:center; border-bottom:1px dotted #ddd;}
.notice_detail .detail{ margin:20px 100px;}
.notice_detail .author{ padding-top:20px;line-height:30px; text-align:right}
.notice_detail .author span{ color:#888}
/* 首页 */
.main_data{ overflow:hidden; zoom:1;}
.main_data .left{ width:66%; float:left; border:1px solid #569ed0; background:#6fa7ce}
.main_data a{float:right; width:33%; height:100px; padding-top:25px; text-align:center; color:#fff; font-size:20px; background:#60d295; border:1px solid #57c78b}
.main_data a:hover{ background:#5bc88e}
.main_data a span{ font-size:30px;}
.main_data .left a{ float:left; width:49.9%; background:#6fa7ce; border:none; border-right:1px solid #569ed0}
.main_data .left a:last-child{ border:none; float:right;}
.main_data .left a:hover{ background:#5f98bf}
.main_h6{ font-size:18px; margin:20px 0 10px;}
.main_apps ul{ overflow:hidden; zoom:1; background:#f3f3f3; border:1px solid #eee; padding:15px;}
.main_apps li{ float:left; width:33.3%; height:160px; overflow:hidden;}
.main_apps li .img{float:left; width:80px; text-align:center}
.main_apps li img{ border-radius:10px; width:80px; height:80px; }
.main_apps li .desc{ padding:0 30px 10px 90px;}
.main_apps li .name{ font-size:15px; font-weight:bold;}
.main_apps li .intro{height: 140px; font-size:14px; color:#888;overflow-y:auto; }
.main_notice{ background:#f3f3f3; border:1px solid #eee; padding:15px;}
.main_notice p{ padding:5px 0;}
.main_notice a{ color:#666;}
.main_notice a:hover{ color:#4097ce}
/* 普通弹框 */
.normal_dialog{ position:relative; min-height:100px; min-width:300px;}
.normal_dialog h6{ line-height:40px;}
.normal_dialog .close{ position:absolute; top:0; right:0; height:40px; line-height:40px; padding:0 10px; background:#ddd; font-size:12px; color:#000; border:none;}
.normal_dialog .content{ padding:15px;}
.normal_dialog .btn_wrap{ margin-bottom:15px; text-align:center; margin-top:15px;}
.content .check-item{display: inline-block;}
/* 图文消息 */
.material_list{ margin:0 -14px; overflow:hidden; zoom:1; padding:15px 0;}
.material_list li{ width:308px;border:1px solid #ddd; float:left; margin:9px; list-style:none; position:relative}
.appmsg_dialog .material_list li{ cursor:pointer}
.material_list li:hover .hover_area{ display:block; cursor:pointer}
.appmsg_item{ padding:15px; width:278px;}
.appmsg_area .appmsg_item{ width:278px;}
.appmsg_item h6{ font-size:16px; color:#222; font-weight:normal}
.appmsg_item .time{ color:#888; font-size:12px;}
.appmsg_item h6{ font-size:16px; color:#222; font-weight:normal;text-align:center;line-height:20px;margin-top:0;text-align: left;}
.appmsg_item .main_img{ margin:10px 0; height:150px; position:relative; overflow:hidden;}
.appmsg_item .main_img img{ width:100%; min-height:150px;}
.appmsg_item .main_img h6{ position:absolute; background:RGBA(0,0,0,.5); color:#fff; padding:3px 5px; bottom:0; right:0; left:0; z-index:10; font-size:14px;}
.appmsg_item .intro{text-overflow: ellipsis; overflow:hidden; white-space:nowrap}
.appmsg_sub_item{ position:relative; height:80px; padding:15px; border-top:1px solid #ddd;}
.appmsg_sub_item .main_img{ width:78px; height:78px; position:absolute; top:15px; right:15px;}
.appmsg_sub_item .main_img img{ width:100%; height:100%;}
.appmsg_sub_item .title{ padding:10px 108px 10px 0;}
.appmsg_action{ width:100%; border-top:1px solid #ddd; overflow:hidden;zoom:1; background:#eee;}
.appmsg_action a{ width:50%; float:left; text-align:center; height:40px; line-height:40px; color:#444;}
.appmsg_action a:hover{ background:#ddd;}
.material_form{ overflow:hidden; zoom:1; margin:20px 0;}
.material_form .preview_area{ float:left; width:308px; border:1px solid #ddd;}
.material_form .preview_area .edit_item{ position:relative;}
.hover_area{ position:absolute; top:0; right:0; bottom:0; left:0; background:RGBA(0,0,0,.4); z-index:100; text-align:center; padding-top:100px; display:none}
.appmsg_sub_item .hover_area{ padding-top:50px;}
.edit_item:hover .hover_area{ display:block;}
.edit_item .hover_area a{ color:#fff; border:1px solid #eee; padding:3px 5px; margin:10px 10px; }
.edit_item .hover_area a:hover{ background:#fff; color:#222}
.appmsg_edit_action{  padding:15px; border-top:1px solid #ddd;}
.appmsg_edit_action a{border:2px dashed #ddd; text-align:center; height:60px; line-height:60px; display:block;}
.appmsg_edit_action a:hover{ background:#eee; border-color:#888; color:#333;}
.material_form .edit_area{ float:left; width:500px; margin-left:30px; display:inline; border:1px solid #ddd; padding:15px; position:relative; min-height:300px;}
.material_form .edit_area .area_arrow{ position:absolute; top:60px; left:-30px; width:30px; height:30px; background:url(../images/area_arrow.png) no-repeat; z-index:100;}
.picture_list{ overflow:hidden; zoom:1}
.picture_list li{ float:left; margin-right:15px;margin-bottom: 15px;}
.picture_item{ border:1px solid #ddd;}
.picture_item .main_img{padding:15px; width:180px; height:120px; overflow:hidden;}
.picture_item .main_img img{ min-height:120px;}
.picture_action{ border-top:1px solid #ddd; overflow:hidden; zoom:1;}
.picture_action a{ width:50%; float:left; height:40px; line-height:40px; text-align:center; color:#888; background:#eee}
.picture_action a:hover{ background:#ddd;}
.item_three_action a{ width:33.33333%;}
.sound_item{ width:180px; position:relative; padding:10px 10px 10px 80px; min-height:60px;}
.sound_item .icon_sound{ position:absolute; top:10px; left:10px; cursor:pointer}
.sound_item .ctime{ padding-top:10px;}
.video_item{ width:200px; padding:10px;}
.video_item .ctime{ font-size:12px;}
.video_item .video_area{ margin-top:5px; height:150px; background:#333;}
.video_item .video_area video{ width:100%; height:100%;}
.article_card_list li{ background:#fff; border:1px solid #ddd; margin-bottom:15px;}
.article_card_list .li_top{ padding:10px; height:25px; background:#eee;}
.article_card_list .li_main{ padding:10px; overflow:hidden; zoom:1; border-top:1px solid #ddd;}
.article_card_list .li_main .li_img{width:12%; height:135px; margin-right:10px;}
.article_card_list .li_main .li_content{ width:80%; line-height:26px;}
.article_card_list .li_content .title{ font-size:16px;}
.article_card_list .li_main .li_img img{ width:100%; height:100%;}
.article_card_list .count span{ margin-right:10px;}
.article_card_list .time{ font-size:12px; color:#888}
.data-table .action_list{ position:relative; display:inline-block}
.data-table .action_list .m{ padding:0 15px; display:inline-block; height:26px; line-height:26px; border:1px solid #ddd; border-radius:3px; background:#eee; cursor:pointer}
.data-table .action_list .m .fa{vertical-align: 3px;}
.data-table .action_list ul{ position:absolute; top:26px;right:0; z-index:100; width:120px; border:1px solid #ddd; border-radius:3px; display:none}
.data-table .action_list:hover ul{ display:block;}
.data-table .action_list ul li{ margin:0; border:0; text-align:center; border-bottom:1px solid #eee;}
.data-table .action_list ul li:last-child{ border:none}
.data-table .action_list ul li a{ display:block; line-height:30px; height:30px; text-align:center;}
.data-table .action_list ul li a:hover{ background:#eee;}
.article_card_list .li_top_u img{ vertical-align:middle; margin-right:5px; border-radius:10px; height:20px; width:20px;}
.li_main .goods{ width:300px; float:left; font-size:12px; color:#777}
.li_main .goods img{ float:left; width:70px; height:70px; margin-right:10px; border:1px solid #ddd; }
.li_main .price,.li_main .num,.li_main .total_price{ float:left; width:120px; text-align:center;}
.li_main .total_price{ color:#F60; font-size:18px; border-right:1px solid #ddd;min-height:70px;}
.li_main .status_name{ width:150px; float:left; text-align:center;border-right:1px solid #ddd; min-height:70px; font-size:12px; color:#ff7300}
.li_main .status{ float:right; text-align:center; width:120px;}
/* 商城 */
.field_group{ border:1px solid #ddd; border-radius:2px; margin:0 0 20px; padding-bottom:20px;}
.field_group h3 { line-height:40px; border-bottom:1px solid #ddd; padding:0 15px; margin-bottom:10px; background:#f3f3f3;}
.field_group .form-item{ padding:0 15px;}
.spec_container{ border:1px solid #ddd; padding:15px; border-radius:2px;}
.spec_item{ margin-bottom:15px;}
.spec_info_item{ border:1px solid #ddd; display:inline-block; height:30px; margin-right:10px; position:relative; cursor:pointer; border-radius:3px;}
.spec_info_item img{ width:30px; height:30px; display:none;}
.spec_info input[type="checkbox"]{ display:none;}
.spec_info label{padding:0 10px; position:relative; height:30px; line-height:30px; top:0; display:inline-block;cursor:pointer}
.spec_info input[type="checkbox"]:checked + label{  background:#645b68; margin-right:30px; color:#fff}
.spec_info input[type="checkbox"]:checked + label + img{ display:inline; position:absolute; top:0; right:0;}
#specTable input[type="text"]{ width:60px; padding:3px 5px; margin:0;}
#specTable tr td:last-child input[type="text"]{ width:100px;}
/* diy page */
.page_diy_container{ overflow:hidden; zoom:1;}
.page_left{ float:left;}
.page_right{ float:left; margin-top:70px;}
.app-content{ overflow:hidden; zoom:1;}
.app_preview{ width:350px; border:1px solid #ddd; border-radius:10px;background:#eee; box-shadow:0 0 2px #ccc}
.app_preview .app_header{ height:70px; background:url(../images/iphone_head.png) no-repeat center center;}
.app_preview .app_inner{ margin:0 auto; width:320px;min-height:300px;border:1px solid #ddd; border-radius:2px; background:#fff}
.app_preview .app_footer{ height:70px; position:relative;}
.app_preview .app_footer em{ height:50px; width:50px; border-radius:100%; border:1px solid #ddd; position:absolute; left:50%; top:10px; margin-left:-20px; background:#fff}
.app_preview .titlebar{ height:40px; padding:20px 60px 0; text-align:center; line-height:38px; color:#fff; background:url(../images/titlebar.png) no-repeat center center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.fixed_module{ background:#ccc; color:#fff; text-align:center; padding:100px 0;}
.fixed_module h6{ font-size:18px; font-weight:normal}
.edit_panel{ position:relative}
.edit_cover{ display:none; position:absolute; right:0; left:0; top:0; bottom:0; z-index:100; background:RGBA(255,255,255,.4); border:2px dashed #F90}
.aciton_wrap{ position:absolute; bottom:0; right:0; margin:0 0 5px; z-index:100; display:none;}
.aciton_wrap .action { padding:1px 3px; background:RGBA(0,0,0,.6); font-size:12px; color:#fff; margin:0 5px 0 0; cursor:pointer}
.edit_panel:hover .edit_cover,.edit_panel:hover .aciton_wrap{ display:block;}
.disable_muodule .edit_panel:hover .edit_cover,.disable_muodule .edit_panel:hover .aciton_wrap{ display:none}
.add_page_widget{ background:#fff; position:relative; width:320px; margin:0 auto; border:1px solid #ddd; border-top:none; text-align:center; padding:10px 0; z-index:100;}
.add_page_widget .title{ font-size:16px; line-height:40px;}
.add_page_widget em{ position:absolute; left:50%; top:-19px; margin-left:-10px; width:20px; height:20px; background:url(../images/arrow_top.png) no-repeat center bottom;}
.add_page_widget ul{ overflow:hidden; zoom:1; padding:0 10px;}
.add_page_widget ul li{ float:left; width:65px; margin:5px;}
.add_page_widget ul li a{ display:block; padding:5px 0;}
.app_editor{ width:540px; margin-left:30px; position:relative; border:1px solid #ddd; padding:15px; border-radius:10px;}
.app_editor .arrow-left{ position:absolute; width:30px; height:30px; top:30px; left:-30px; background:url(../images/area_arrow.png) no-repeat center center; border:none;}
.app_editor .form_item{ overflow:hidden; margin-bottom:10px;}
.app_editor .form_item label{ width:80px; float:left; text-align:right; margin-right:10px; line-height:30px;}
.app_editor .iput{ float:left;}
.app_editor .wput{ width:540px;}
.app_editor .tips{ font-size:12px; color:#888}
.app_editor .pt_8{ padding-top:4px;}
.app_editor .edit_tips{ border:1px solid #F60; background:#fcf1e2; color:#F60; padding:10px; margin:10px 0; float:left; width:500px; border-radius:5px;}
.app_editor input[type="radio"],.app_editor input[type="checkbox"]{ vertical-align:text-top; margin-right:3px;}
.color_picker{ width:50px; height:28px; border:1px solid #ccc; cursor:pointer}
.add_goods_btn{ width:50px; height:50px; background:#444 url(../images/add.png) no-repeat; background-size:100% 100%; cursor:pointer; float:left;}
.select_goods_list{ overflow:hidden;zoom:1; float:left;}
.select_goods_list li{ float:left; margin-right:10px; position:relative;}
.select_goods_list li .img{ width:50px; height:50px; background:#ddd url(../images/mobile_jump_err_face.png) no-repeat center center; background-size:100% 100%; display:block}
.select_goods_list li .img img{ width:100%; height:100%;}
.select_goods_list li em{ position:absolute; top:0; right:0; width:12px; height:12px; text-align:center; color:#fff; line-height:12px; background:RGBA(0,0,0,.5); font-style:normal; cursor:pointer}
.goods_dialog { position:relative;}
.btn_bar{ text-align:center;}

.sub_edit_item{ border:1px solid #ddd; border-radius:5px; padding:10px 40px 10px 90px; margin-top:15px; position:relative}
.sub_edit_item_no_pic{ padding-left:10px;}
.sub_edit_item .add_pic_btn{ width:72px; height:72px; background:#888 url(../images/add.png) no-repeat; background-size:100% 100%; position:absolute; top:10px; left:10px;}
.sub_edit_item .add_pic_btn img{ width:100%; height:100%;}
.sub_edit_item .del_pic_btn{ width:30px; height:30px; background:url(../images/gray_delete.png) no-repeat center center; position:absolute; top:50%; margin-top:-15px; right:10px;}
.sub_edit_item input[type="text"]{ width:360px;}
.sub_edit_item input[type="text"]:last-child{ margin-bottom:0;}
.sub_edit_item_no_pic input[type="text"]{ width:420px;}






.tile {
    height: 113px;
	width: 113px;
	text-align: center;
    margin: 0 6px 6px 0;
    float: left;
    background-color:#09F;
    display: block;
    position: relative;
	-webkit-transition: width 0.2s, height 0.2s, -webkit-transform 0.2s; 
    transition: width 0.2s, height 0.2s, transform 0.2s;
}

.tile:hover{
	-webkit-transform: scale(0.92,0.92);
	transform:scale(0.92,0.92);
}

.tile-themed {
    background-color: #368ee0;
    background-repeat: repeat;
    color: #fff;
}
.tile>i {
	width:113px;
    padding: 20px 0 0;
    display: inline-block;
    font-size: 62px;
    color:#FFF;
    -webkit-transform: translate3d(0,0,0);
}
.box-content {
    padding: 20px;
    background: #fff;
}
.box_title {
    border-bottom: 1px solid #ddd;
    padding: 7px 0 7px 10px;
    margin-top: 0px;
}


h5 {
    font-size: 14px;
}
.i_usd:before {
    content: "\f155";
}
.i_yen:before {
    content: "\f157";
}
.i_money:before {
  content: "\f0d6";
}
.i_gift:before {
   content: "\f06b";
}
.i_chart:before {
   content: "\f080";
}
.i_search:before {
  content: "\f002";
}
.i_edit:before{
content: "\f044";	
}
.i_ticket:before{
content: "\f145";	
}
.i_card:before{
content: "\f09d";	
}
.i_share:before{
content: "\f045";
}
.i_empty:before{
content: "\f006";
}
.i_chongzhi:before{
content: "\f06b";
}
.i_shopping:before{
content: "\f07a";
}
.i_heart:before{
content: "\f08a";
}
.i_usd,.i_yen,.i_money,.i_gift,.i_chart,.i_search,.i_edit ,.i_ticket,.i_card,.i_share,.i_empty,.i_chongzhi,.i_shopping,.i_heart:before {
	
    text-decoration: inherit;
    display: inline-block;
    speak: none;
	
}
.i_usd,.i_yen,.i_money,.i_gift,.i_chart,.i_search,.i_edit ,.i_ticket,.i_card,.i_share,.i_empty,.i_chongzhi,.i_shopping,.i_heart{
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    margin-top: 0;
}
.i_usd,.i_yen,.i_money,.i_gift,.i_chart,.i_search,.i_edit ,.i_ticket,.i_card,.i_share,.i_empty,.i_chongzhi,.i_shopping,.i_heart{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
.div_info{
	color: #fff;
	width: 113px;
	text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35px;
    line-height: 35px;
   
}
.switch_mp{ float:left; margin-top:23px; position:relative;}
.switch_mp>a{ color:#666;}
.switch_mp>a>b{ vertical-align:3px;}
.switch_mp ul{ display:none; left:-10px;  top:20px; background:#eee; z-index:1000; position:absolute; width:140px;}
.switch_mp:hover ul{ display:block;}
.switch_mp ul a{ display:block; padding:8px 10px; border-bottom:1px solid #ddd; color:#666; white-space:nowrap; overflow:hidden; text-align:center;}
.switch_mp ul a:hover{ background:#fff; color:#333}

