<extend name="Base/common" />
<block name="body">
    <link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
    <div class="span9 page_message">
        <section id="contents" class="tab-content">
            <form class="form-horizontal" action="" method="post">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">班级</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="班级" value="{$info.name}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">确认</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</block>
