<extend name="Base/common" />
<block name="body">
    <link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
    <div class="span9 page_message">
        <section id="contents">
            <ul class="tab-nav nav">
                <span class="fr" style="margin:10px;"><a target="_blank" href="http://help.weiphp.cn/index.php?s=/Home/Help/index/page/weiba_weiba_lists"><b style="font-size:16px;" class="fa fa-question-circle"></b>查看配置教程</a></span>
            </ul>
            <div class="table-bar">
                <div class="fl">
                    <div class="tools">
                        <a class="btn" href="{:addons_url($_REQUEST ['_addons'].'://'.$_REQUEST ['_controller'].'/add')}">新 增</a>
                        <button class="btn ajax-post confirm" target-form="ids" url="">删 除</button>
                    </div>        </div>
                <!-- 高级搜索 -->
                <div class="search-form fr cf">
                    <div class="sleft">
                        <input type="text" name="title" class="search-input" value="" placeholder="请输入关键字">
                        <a class="sch-btn" href="javascript:;" id="search" url="http://localhost/weiphp/index.php?s=/addon/Coupon/Coupon/lists/mdm/356/model/coupon.html"><i class="btn-search"></i></a> </div>
                </div>        <!-- 多维过滤 -->
            </div>
            <div class="data-table">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>班级</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="user" item="vo" >
                    <tr>
                        <th scope="row">{$vo.id}</th>
                        <td><a href="#">{$vo.name}</a></td>
                        <td><a href="{:addons_url('student://subject/update', array('id'=>$vo[id]))}">修改</a><a href="{:addons_url('student://subject/delete', array('id'=>$vo[id]))}">删除</a></td>
                    </tr>
                </foreach>
                </tbody>
            </table>
            </div>
            <div class="page"> {$_page|default=''} </div>
        </section>
    </div>
</block>
